@import '../../assets/variables.scss';
.workshopDetails {
	.image {
		border-radius: 8px;
		width: 100%;
		margin-bottom: 40px;
	}
	.container {
		display: flex;
		justify-content: space-between;

		.details {
			flex-basis: 65%;
			@media (max-width: $phone-size) {
				flex-basis: 100%;
			}
			.metaData {
				display: flex;
				margin-bottom: 20px;

				.icon {
					display: flex;
					align-items: center;
					justify-content: center;

					background: $color-DarkerGrey;
					border-radius: 6px;
					width: 40px;
					height: 40px;

					margin-right: 20px;

					@media (max-width: $phone-size) {
						top: 10px;
						right: -20px;
					}

					svg {
						fill: $color-White;
						* {
							fill: $color-White;
						}
					}
				}
			}

			.author {
				margin-bottom: 20px;
				label {
					font-weight: bold;
					font-size: 18px;
					line-height: 125%;
					color: $color-Black;
				}
				h4 {
					display: inline;
				}
			}

			h1 {
				color: $color-Blue;
				margin-bottom: 20px;
			}
		}
		.addCart {
			flex-basis: 30%;
			h5 {
				@media (max-width: $phone-size) {
					display: none;
				}
			}
			@media (max-width: $phone-size) {
				flex-basis: initial;
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100%;
			}
			.box {
				border-radius: 8px;
				box-shadow: 1px 2px 16px rgba(127, 127, 127, 0.25);
				padding: 50px 40px;

				@media (max-width: $phone-size) {
					border-radius: 0px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					box-shadow: -1px -2px 4px rgba(127, 127, 127, 0.25);
					background: $color-White;
					padding: 18px 20px;
				}

				.price {
					margin-top: 20px;
					margin-bottom: 30px;
					display: block;
				}

				.quantity {
					select {
						border: 1px solid $color-Blue;
						box-sizing: border-box;
						border-radius: 8px;
						padding: 12px 8px;
						font-size: 23px;
						line-height: 125%;
						margin-right: 10px;
						@media (max-width: $phone-size) {
							margin-right: 5px;
						}
					}
				}

				.subTotal {
					text-align: right;
					padding-right: 25px;
					font-weight: 600;
					font-size: 15px;
					line-height: 125%;
					color: $color-LightGrey;

					@media (max-width: $phone-size) {
						display: none;
					}
				}
			}
		}
	}
}
