@import '../assets/variables.scss';

.container {
	padding: 0px $page-border;
	display: flex;
	overflow: hidden;

	margin-top: $header-size-desktop + 60px;
	@media (max-width: $phone-size) {
		margin-top: $header-size-phone + 25px;
	}

	.fullWidth {
		width: 100%;
	}

	.sidebar {
		flex-basis: 20%;
		@media (max-width: $phone-size) {
			display: none;
		}
	}
	.page {
		flex-basis: 80%;
		@media (max-width: $phone-size) {
			flex-basis: 100%;
			width: 0px;
		}
	}
}
