@import '../../assets/variables.scss';

.formError {
	font-weight: 600;
	font-size: 15px;
	line-height: 125%;
	color: $color-Red;
}

.container {
	display: flex;
	flex-direction: column;

	.field {
		margin-bottom: 35px;
	}

	.fieldDuble {
		display: flex;
		justify-content: space-between;

		& > div {
			width: 48%;
		}
	}
}
