@import '../../assets/variables.scss';

.container {
	display: flex;
	justify-content: flex-end;
	@media (max-width: $phone-size) {
		justify-content: center;
	}

	button {
		cursor: pointer;
		font-weight: bold;
		font-size: 18px;
		line-height: 125%;

		border: none;
		background: none;
		margin: 0px 248px 60px;

		border-bottom: 2px solid $color-Blue;

		@media (max-width: $phone-size) {
			margin: 0px 0px 40px;
		}

		&:focus {
			outline: none;
		}
	}
}
