@import '../../assets/variables.scss';

.cartItem {
	display: flex;
	border-radius: 6px;
	background: $color-LighterGrey;
	margin-bottom: 20px;

	.boxImage {
		.image {
			border-radius: 6px 0px 0px 8px;
			width: 105px;
			height: 100%;
			background-size: cover;
			background-position: center;
		}
	}

	.content {
		padding: 20px 20px;
		position: relative;
		a {
			text-decoration: none;
		}

		h3 {
			font-size: 20.3px;
			line-height: 125%;
		}
		h6 {
			font-size: 13.5px;
			line-height: 125%;
		}
		.title {
			color: $color-Blue;
			margin-bottom: 10px;
			font-size: 18.9px;
			line-height: 125%;
			max-width: 160px;
		}
		.icon {
			cursor: pointer;
			position: absolute;
			top: 20px;
			right: -20px;
			* {
				fill: $color-LightGrey;
			}
		}
		select {
			border: 1px solid $color-Blue;
			box-sizing: border-box;
			border-radius: 8px;
			padding: 11px 8px;
			font-size: 18px;
			line-height: 125%;
			margin-right: 10px;
			@media (max-width: $phone-size) {
				margin-right: 5px;
			}
		}
	}
}
