$color-LightYellow: #ffce25;
$color-Yellow: #ffc80c;

$color-LightBlue: #00aae4;
$color-Blue: #0097cc;

$color-White: #ffffff;

$color-LighterGrey: #f2f2f2;
$color-LightGrey: #7f7f7f;
$color-DarkerGrey: #1d1d1b;

$color-Black: #0d0d0d;
$color-Red: #ff392e;

$page-border: 20px;

$phone-size: 576px;

$header-size-phone: 60px;
$header-size-desktop: 90px;
